askpass
base64enc
bit
bit64
brew
brio
cachem
callr
cli
clipr
colorspace
commonmark
corrplot
cpp11
crayon
credentials
curl
desc
devtools
diffobj
digest
dplyr
ellipsis
evaluate
fansi
farver
fastmap
forcats
formatR
fs
generics
gert
ggplot2
gh
gitcreds
glue
gtable
here
highr
hms
htmltools
httr
ini
isoband
jquerylib
jsonlite
knitr
labeling
lifecycle
magrittr
markdown
memoise
mime
munsell
openssl
pillar
pkgbuild
pkgconfig
pkgload
plyr
praise
prettyunits
processx
progress
ps
purrr
R6
rappdirs
rcmdcheck
RColorBrewer
Rcpp
readr
rematch2
remotes
renv
reshape2
rlang
rmarkdown
roxygen2
rprojroot
rstudioapi
rversions
scales
sessioninfo
stringi
stringr
sys
testthat
tibble
tidyselect
tinytex
tzdb
usethis
utf8
vctrs
viridisLite
vroom
waldo
whisker
withr
xfun
xml2
xopen
yaml
zip
